// Transparency Variables
$white-08: rgba($white, 0.08);
$white-10: rgba($white, 0.1);
$white-15: rgba($white, 0.15);
$white-20: rgba($white, 0.2);
$white-30: rgba($white, 0.3);
$white-60: rgba($white, 0.6);
$white-80: rgba($white, 0.8);
$white-90: rgba($white, 0.9);
$black-40: rgba($black, 0.4);
$black-60: rgba($black, 0.6);